* {
    box-sizing: border-box;
}
header{
    padding: 0px 17px;
    flex:auto;
    background-color: darkgreen;
    color: honeydew;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    display: flex;
}

header nav{
    float:inline-start;
    margin: 7px 2px;
}

header nav ul li{
     display: inline-flex;
     justify-content: space-between;

}

main{
    flex: auto;
}
#Me{

    background-image: url(../images/PikPng.com_headshot-png_1547512.png);
    height: 1185px;
    width: 80%;
    background-size:cover;
    background-position:center;
    flex:auto;
    color:gray;
    float: right;
}
#challenge_oneImg{
    height: 310px;
    width: 210px;
    float: right;
    flex: auto;
}
aside{
    float: left;
    background-image: url(../images/PikPng.com_cross-silhouette-png_643796.png);
    height: 1010px;
    background-size:contain;
    background-position-x: left;
    width: 15%;
    color: goldenrod;
}

footer{
    width: 100%;
    padding: 30px 30px;
    background-color: darkgreen;
    color: honeydew;
    float:right;
}
footer p{
    text-align: center;
}
footer nav ul li{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}
